
<div class="Delivery Method">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Delivery</option>
      <option value="2">Carry Out</option>
      
    </select>
    <label>Materialize Select</label>
</div>