{{!-- <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Delivery</option>
      <option value="2">Pick Up</option>
      
    </select>
    <label>Delivery Pick Up</label>
  </div>



<script src="./js/deliverymethod.js"></script>


<button type="submit">Continue</button> --}}