
<div class="input-field col s12">
    <select multiple>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Cheese</option>
        <option value="2">Pepperoni</option>
        <option value="3">Supreme</option>
        <option value="4">Meat Lovers</option>
        <option value="5">BBQ Chicken</option>
        <option value="6">Veggie Lovers</option>
        <option value="7">Hawaiian</option>
        <option value="8">Gluten Free Cheese</option>
        <option value="9">Gluten Free Pepperoni</option>
        <option value="10">Gluten Free Veggie</option>
        <option value="11">Gluten Free Supreme</option>
        <option value="12">Gluten Free Hawaiian</option>
        <option value="13">Gluten Free Meat lovers</option>
        <option value="14">Gluten Free BBQ Chicken</option>
        <option value="15">Muy Muy Grande Pizza</option>
    </select>
    <label>Materialize Multiple Select</label>
</div>